<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Order details:</strong>
  <%= @order.order_details %>
</p>

<p>
  <strong>Pay on delivery:</strong>
  <%= @order.pay_on_delivery %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
